<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="msInSec" value="1000" />
    <add key="form1SizeX" value="888" />
    <add key="form1SizeY" value="500" />
    
    
    <add key="ancientArcherCD" value="1200" />
    <add key="slimeCD" value="550" />
    <add key="steelGuardCD" value="20" />
  </appSettings>
</configuration>