<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Boss_Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="msInSec" value="1000" />
    <add key="form1SizeX" value="905" />
    <add key="form1SizeY" value="500" />
    
    
    <add key="ancientArcherCD" value="1200" />
    <add key="slimeCD" value="1800" />
    <add key="steelGuardCD" value="2100" />
    <add key="nightmareCD" value="0" />
    <add key="twinsCD" value="7200" />
    <add key="fireLordCD" value="3600" />
    <add key="spiderCD" value="10800" />
    <add key="drownedCD" value="5400" />
    <add key="wizardCD" value="14400" />
    <add key="deathCD" value="7200" />
    <add key="riderCD" value="18000" />
    <add key="pillagerCD" value="9000" />
    <add key="lavaCubeCD" value="21600" />
    <add key="ghostHunterCD" value="10800" />
    <add key="blackDragonCD" value="23400" />
    <add key="giantCD" value="12600" />
    <add key="snowMonsterCD" value="3600" />
    <add key="accursedLegionCD" value="25200" />
    <add key="monstrCD" value="14400" />
    <add key="necromancerCD" value="25200" />
    <add key="eaterOfDarknessCD" value="16200" />
    <add key="chudoCD" value="0" />
    <add key="blacksmithCD" value="18000" />
    <add key="mightyShulkerCD" value="19800" />
    <add key="casterCD" value="19800" />
    <add key="deadHoursemanCD" value="21600" />
    <add key="samuraiCD" value="23400" />
    <add key="deadLordCD" value="21600" />
    <add key="shadowLordCD" value="25200" />
    <add key="goliathCD" value="25200" />
    <add key="destroyerCD" value="19800" />
    <add key="screamCD" value="0" />
    <add key="spectralCubeCD" value="0" />
    <add key="shadowCD" value="0" />
    <add key="heraldOfHellCD" value="0" />
    <add key="blazeCD" value="0" />
    <add key="piglinCD" value="0" />
    <add key="hoglinCD" value="0" />
    <add key="zombiePiglinCD" value="0" />
    <add key="brutalPiglinCD" value="0" />
    <add key="magmaCD" value="0" />
    <add key="zoglinCD" value="0" />
    <add key="hellKnightCD" value="0" />
    <add key="bosses" value="True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True" />

  </appSettings>
  <userSettings>
    <Boss_Timer.Properties.Settings>
      <setting name="timingsStr" serializeAs="String">
        <value>5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5</value>
      </setting>
    </Boss_Timer.Properties.Settings>
  </userSettings>
</configuration>