<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="msInSec" value="1000" />
    <add key="form1SizeX" value="888" />
    <add key="form1SizeY" value="500" />
    
    
    <add key="ancientArcherCD" value="1200" />
    <add key="slimeCD" value="550" />
    <add key="steelGuardCD" value="0" />
    <add key="nightmareCD" value="0" />
    <add key="twinsCD" value="0" />
    <add key="fireLordCD" value="0" />
    <add key="spiderCD" value="0" />
    <add key="drownedCD" value="0" />
    <add key="wizardCD" value="0" />
    <add key="deathCD" value="0" />
    <add key="riderCD" value="0" />
    <add key="pillagerCD" value="0" />
    <add key="lavaCubeCD" value="0" />
    <add key="ghostHunterCD" value="0" />
    <add key="blackDragonCD" value="0" />
    <add key="giantCD" value="0" />
    <add key="snowMonsterCD" value="0" />
    <add key="accursedLegionCD" value="0" />
    <add key="monstrCD" value="0" />
    <add key="necromancerCD" value="0" />
    <add key="eaterOfDarknessCD" value="0" />
    <add key="chudoCD" value="0" />
    <add key="blacksmithCD" value="0" />
    <add key="mightyShulkerCD" value="0" />
    <add key="casterCD" value="0" />
    <add key="deadHoursemanCD" value="0" />
    <add key="samuraiCD" value="0" />
    <add key="deadLordCD" value="0" />
    <add key="shadowLordCD" value="0" />
    <add key="goliathCD" value="0" />
    <add key="destroyerCD" value="0" />
    <add key="screamCD" value="0" />
    <add key="spectralCubeCD" value="0" />
    <add key="heraldOfHellCD" value="0" />
    <add key="blazeCD" value="0" />
    <add key="piglinCD" value="0" />
    <add key="hoglinCD" value="0" />
    <add key="zombiePiglinCD" value="0" />
    <add key="brutalPiglinCD" value="0" />
    <add key="magmaCD" value="0" />
    <add key="zoglinCD" value="0" />
    <add key="hellKnightCD" value="0" />
    <add key="bosses" value="0" />

  </appSettings>
</configuration>